<footer>
		<section>
		<h2 id="anc4">Contact : </h2>
		<p> <b> Email : <a href="mailto:richiteanu.sebastian@gmail.com"> richiteanu.sebastian@gmail.com</a> </b><br>
			<i>Phone No : 07xxxxxxxx </i><br>
			<a href="#"> <strong> Go at the top </strong></a></p>
		<p id="timp_petrecut"> test </p>
		<p id="numar_cuvinte"> Numar de cuvinte: </p>
		</section>
</footer>