<!DOCTYPE html>
<html lang="ro">
  <head>
	<link rel="stylesheet" type="text/css" href="css/404.css">
	<link rel="stylesheet" type="text/css" href="css/all.css"/>
	<link rel="stylesheet" type="text/css" href="css/responsive.css"/>
	<link rel='icon' href='img/favicon.ico' type='image/x-icon'/>
	<title> Not found </title>
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name = "contact" content = "Email,phone">
	<meta name = "description" content = "Prima Pagina">
	<meta name = "keywords" content = "produse,promotii">
	<meta charset = "UTF-8">
	<script src="js/tot.js"></script>
  </head>
  <body>
	<%- include("../fragmente/header")  %>
	
	<h1 class="n404"> 
		Eroare 404 <br>
		Nu am gasit o pagina cu aceasta adresa!
		<img id="sad" src="/img/sad.jpg" alt="sad" height="140" width="200" title="sad"> 
	</h1>
	
	
	<%- include("../fragmente/footer") %>
  </body>