<!DOCTYPE html>
<html lang="ro">
  <head>
	<link rel="stylesheet" type="text/css" href="/css/branduri.css">
	<link rel="stylesheet" type="text/css" href="/css/all.css"/>
	<link rel="stylesheet" type="text/css" href="/css/responsive.css"/>
	<link rel='icon' href='/img/favicon.ico' type='image/x-icon'/>
	<title> Branduri </title>
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name = "contact" content = "Email,phone">
	<meta name = "description" content = "Prima Pagina">
	<meta name = "keywords" content = "produse,promotii">
	<meta charset = "UTF-8">
	<script src="js/tot.js"></script>
  </head>
  <body>
	<%- include("../fragmente/header")  %>
	
		<main>
			<div class="grid_total">
			<div class="grid-item" id="t_col1"> </div>
			<div class="grid-item" id="t_col2">
			<section>
				<h2 id="id1h2"> Branduri: </h2>
				<ul>
					<li> <a href="#nike"> Nike </a> </li>
					<li> <a href="#adidas">Adidas </a> </li>
					<li> <a href="#jordan">Jordan </a> </li>
					<li> <a href="#comme">Comme des garçons </a> </li>
					<li> <a href="#puma">Puma </a> </li>
					<li> <a href="#gucci">Gucci </a> </li>
					<li> <a href="#armani">Armani jeans </a> </li>
				</ul>
			</section>
			<section>
				<h2> Produse: </h2>
					<ul>
						<li id="nike"> <p class="brand"> Nike: </p>
							<ul class="pz">
								<li> <figure>
									<img src="/img/Nike/720.jpg" alt="720" height="128" width="200" title="720"> 
									<figcaption> Nike 720 </figcaption>
								</figure> </li>
								<li> <figure>
									<img src="/img/Nike/af1.jpg" alt="af1" height="140" width="180" title="AF1"> 
									<figcaption> Nike AF1 </figcaption>
								</figure> </li>
								<li> <figure>
									<img src="/img/Nike/sf1.jpg" alt="sf1" height="128" width="200" title="SF1"> 
									<figcaption> Nike SF1 </figcaption>
								</figure> </li>
							</ul>
						</li>
				
						<li id="adidas"> <p class="brand"> Adidas: </p>
							<ul class="pz">
								<li> <figure>
									<img src="/img/Adidas/ultraboost18.jpg" alt="ultraboost18" height="100" width="200" title="Ultraboost"> 
									<figcaption> Ultraboost 18 </figcaption>
								</figure> </li>
								<li> <figure>
									<img src="/img/Adidas/pharrell.jpg" alt="pharrell" height="140" width="180" title="x Pharrell"> 
									<figcaption> Pharrell Williams </figcaption>
								</figure> </li>
								<li> <figure>
									<img src="/img/Adidas/eriga.jpg" alt="eriga" height="140" width="180" title="Eriga"> 
									<figcaption> Erdiga 2.0 </figcaption>
								</figure> </li>
							</ul>
						</li>
			
						<li id="jordan"> <p class="brand"> Jordan: </p>
							<ul class="pz">
								<li> <figure>
									<img src="/img/Jordan/jordan1.jpg" alt="jordan1" height="140" width="160" title="Jordan 1"> 
									<figcaption> Jordan 1 </figcaption>
								</figure> </li>
								<li> <figure>
									<img src="/img/Jordan/jordan13.jpg" alt="jordan13" height="140" width="180" title="Jordan 13"> 
									<figcaption> Jordan 13 </figcaption>
								</figure> </li>
								<li> <figure>
									<img src="/img/Jordan/diorxjordan.jpg" alt="diorxjordan"  height="140" width="180" title="x Dior"> 
									<figcaption> Dior x Jordan </figcaption>
								</figure></li>
							</ul>
						</li>
					
						<li id="comme"> <p class="brand"> Comme des garcons: </p>
							<ul class="pz">
								<li> <figure>
									<img src="/img/Comme_des_garcons/70s.jpg" alt="70s" height="128" width="180" title="70s"> 
									<figcaption> 70s </figcaption>
								</figure> </li>
								<li> <figure> 
									<img src="/img/Comme_des_garcons/70s_low.jpg" alt="70slow" height="100" width="180" title="70s low"> 
									<figcaption> 70s LOW </figcaption>
								</figure> </li>
								<li> <figure>
									<img src="/img/Comme_des_garcons/70s_hi_top.jpg" alt="70shitop" height="120" width="180" title="70s Hi-Top"> 
									<figcaption> 70s HI TOP </figcaption>
								</figure> </li>
							</ul>
						</li>
					
						<li id="puma"> <p class="brand"> Puma: </p>
							<ul class="pz">
								<li> <figure>
									<img src="/img/Puma/Axelion.jpg" alt="axelion" height="128" width="180" title="Axelion"> 
									<figcaption> Axelion </figcaption>
								</figure> </li>
								<li> <figure>
									<img src="/img/Puma/pacer.jpg" alt="pacer" height="128" width="180" title="Pacer"> 
									<figcaption> Pacer </figcaption>
								</figure> </li>
								<li> <figure>
									<img src="/img/Puma/clyde.jpg" alt="clyde" height="110" width="180" title="Clyde"> 
									<figcaption> Clyde </figcaption>
								</figure> </li>
							</ul>
						</li>
				
						<li id="gucci"> <p class="brand"> Gucci: </p>
							<ul class="pz">
								<li> <figure>
									<img src="/img/Gucci/ace.jpg" alt="ace" height="128" width="150" title="Ace"> 
									<figcaption> Ace </figcaption>
								</figure> </li>
								<li> <figure>
									<img src="/img/Gucci/ace_bee.jpg" alt="acebee" height="128" width="150" title="Ace Bee"> 
									<figcaption> Ace Bee </figcaption>
								</figure> </li>
								<li> <figure>
									<img src="/img/Gucci/ace_snake.jpg" alt="ace snake" height="128" width="150" title="Ace Snake"> 
									<figcaption> Ace Snake</figcaption>
								</figure> </li>
							</ul>
						</li>
					
						<li id="armani"> <p class="brand"> Armani Jeans: </p>
							<ul class="pz">
								<li> <figure>
									<img src="/img/Armani_jeans/sokora.jpg" alt="sokora" height="128" width="150" title="Sokora"> 
									<figcaption> Sokora </figcaption>
								</figure> </li>
								<li> <figure>
									<img src="/img/Armani_jeans/canvas.jpg" alt="canvas" height="140" width="150" title="Canvas"> 
									<figcaption> Canvas </figcaption>
								</figure> </li>
								<li> <figure>
									<img src="/img/Armani_jeans/metal.jpg" alt="metal" height="140" width="150" title="Metal"> 
									<figcaption> Metal </figcaption>
								</figure> </li>
							</ul>
						</li>
					</ul>
							
			</section>
			</div>
		</div>
		<div class="grid-item" id="t_col3">
		</div>
		</main>
	<%- include("../fragmente/footer") %>
  </body>
  
</html>