<!DOCTYPE html>
<html lang="ro">
  <head>
	<link rel="stylesheet" type="text/css" href="/css/contact.css">
	<link rel="stylesheet" type="text/css" href="/css/all.css"/>
	<link rel="stylesheet" type="text/css" href="/css/responsive.css"/>
	<link rel='icon' href='/img/favicon.ico' type='image/x-icon'/>
	<title> Despre noi & Contact </title>
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name = "contact" content = "Email,phone">
	<meta name = "description" content = "Prima Pagina">
	<meta name = "keywords" content = "produse,promotii">
		<meta charset = "UTF-8">
	<script src="js/tot.js"></script>
  </head>
  <body>
	<%- include("../fragmente/header")  %>
	
	<main>
		<div class="grid_total">
		<div class="grid-item" id="t_col1"> </div>
		<div class="grid-item" id="t_col2">
		<h1 id="id1h1"> Despre noi: </h1>
			<section>
				<h2 id="anc4">
					O noua platforma de unde iti poti achizitiona perechile preferate
					de incaltaminte. <br>
					Echipa noastra nu doreste sa deschida un magazin fizic deoarece 
					traim in era digitala.
					</h2>
				</section>
				<section>
					<h2 id="anc5"> Contact : </h2>
					Email : 
					<a href="mailto:richiteanu.sebastian@gmail.com"> 
					richiteanu.sebastian@gmail.com</a> <br>
					Phone No : 07xxxxxxxx 
				</section>
				<section>
					<h2> Depozite: </h2>
					<div id="container">
						<div class="coloana" id="nr1"> 
						Campulung Muscel: Str. Cpt. I. Becleanu Nr.5
						</div>
						<div class="coloana" id="nr2"> 
						Bucuresti : Sector 6, Aleea Masa Tacereii Nr.7
						</div>
						<div class="coloana" id="nr3"> 
						Barcelona : Les Tres Torres, Via Augusta Nr. 525
						</div>
					</div>	
				</section>
		<section>
		<h2> <br> Program contact</h2>
		<table> 
			<tr>
				<th> Zi </th>
				<th> Program </th>
			</tr>
			<tr>
				<th> Luni </th>
				<td> 9:00-15:00 </td>
			</tr>
			<tr>
				<th> Marti </th>
				<td>  9:00-15:00 </td>
			</tr>
			<tr>
				<th> Miercuri </th>
				<td>  9:00-15:00 </td>
			</tr>
			<tr>
				<th> Joi </th>
				<td>  9:00-15:00 </td>
			</tr>
			<tr>
				<th> Vineri </th>
				<td>  9:00-12:00 </td>
			</tr>
			<tr>
				<th> Samabata </th>
				<td> X </td>
			</tr>
			<tr>
				<th> Duminica </th>
				<td> X </td>
			</tr>
			</table>
		</section>
		</div>
		<div class="grid-item" id="t_col3">
		</div>
		</div>
	</main>
	<%- include("../fragmente/footer") %>
  </body>