<!DOCTYPE html>
<html lang="ro">
  <head>
	<link rel="stylesheet" type="text/css" href="css/index.css"/>
	<link rel="stylesheet" type="text/css" href="css/all.css"/>
	<link rel="stylesheet" type="text/css" href="css/responsive.css"/>
	<link rel='icon' href='img/favicon.ico' type='image/x-icon'/>
    <title >Zebra Shop</title>
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name = "contact" content = "Email,phone">
	<meta name = "description" content = "Prima Pagina">
	<meta name = "keywords" content = "produse,promotii">
	<meta charset = "UTF-8">
	<script src="js/tot.js"></script>
	<script src="js/home.js"></script>
	

	
  </head>
  <body>
   <%- include("../fragmente/header")  %>
	
    <main>
		
    
		<div class="grid_total">
		<div class="grid-item" id="t_col1">
		</div>
		<div class="grid-item" id="t_col2">
		
		<h1 id="id1h1"> </h1>
		<section>
		<h2 id="anc1"> Branduri </h2>
			<ul>
			  <li> Nike </li>
			  <li> Adidas </li>
			  <li> Jordan </li>
			  <li> Comme des garçons </li>
			  <li> Puma </li>
			  <li> Gucci </li>
			  <li> Armani jeans </li>
			  </ul> 
		</section> 
		<section>
		<h2 id="anc2"> Promotii: </h2>
          <p> NOTHING FOUND </p>
		</section>
		<section>
		<h2 id="anc3"> Despre noi: </h2>
			<p id="p_despre_noi"> </p>
		</section>
		 <div id="galeria" class="galerie">
	<div>
		<figure>
			<img src="img/imagini_galerie/70s_hi_top.jpg" alt="Comme des Garcons 70s" />
			<figcaption>Comme des Garcons 70s</figcaption>
		</figure>
		<figure>
			<img src="img/imagini_galerie/720.jpg" alt="Nike 720" />
			<figcaption>Nike 720</figcaption>
		</figure>
		<figure>
			<img src="img/imagini_galerie/ace_bee.jpg" alt="Gucii ace bee" />
			<figcaption>Gucii ace bee</figcaption>
		</figure>
		<figure>
			<img src="img/imagini_galerie/jordan13.jpg" alt="Jordan 13" />
			<figcaption>Jordan 13</figcaption>
		</figure>
		<figure>
			<img src="img/imagini_galerie/canvas.jpg" alt="Armani Jeans Canvas" />
			<figcaption>Armani Jeans Canvas</figcaption>
		</figure>
		<figure>
			<img src="img/imagini_galerie/pacer.jpg" alt="Puma Pacer" />
			<figcaption>Puma Pacer</figcaption>
		</figure>
		<figure>
			<img src="img/imagini_galerie/pharrell.jpg" alt="Adidas x Pharrell" />
			<figcaption>Puma Pacer</figcaption>
		</figure>
		</div>
		</div>
		</div>
		<div class="grid-item" id="t_col3">
		</div>
	</div>
    </main>
    
	<%- include("../fragmente/footer")  %>
  </body>
</html>